/* style.css */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
  }
  
/* Add these styles to position the logo at the left corner */
header {
    display: flex;
    align-items: center;
    background-color: black;
    padding: 1em;
}

header div {
    margin-right: 10px;
}
  
  h1 {
    margin: 0;
  }
  
  nav {
    margin-top: 10px;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  
  nav li {
    display: inline;
    margin-right: 20px;
    
  }
  
  nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s; /* Add transition for smooth color change */
}

nav a:hover {
    text-decoration: none;
    color: red; /* Change color on hover */
}
  
  main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
  }
  
  /* Add some style to the content */
  main p {
    line-height: 1.6;
  }
  
  main h2 {
    color: #333;
  }
  
  /* Style links in the footer */
  footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    
  }
  
  footer a:hover {
    text-decoration: underline;
  }
  /* style.css */


/* Style the hero section */
.hero-section {
    position: relative;
    margin-top: 50px;
  }
  
  .hero-text {
    position: absolute;
    top: 0; /* Change the value from 20% to 0 */
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}


  
  .hero-text h2 {
    font-size: 2em;
    margin-top: 0;
    text-align: center; /* Add this line to center the text */
}


  .moving-text {
    position: absolute;
 
    right: 0;
    animation: moveText 12s linear infinite;
}

/* Add this corrected keyframe animation to your existing CSS file */
@keyframes moveText {
    0% {
        left: 100%;
    }
    100% {
        left: 0;
    }
}

  
  .hero-text p {
    font-size: 1.2em;
  }
  
  /* Style the feature section */
  .feature-section {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
  }
  
  .feature {
    text-align: center;
  }
  
  .feature img {
    width: 100%;
    border-radius: 10px;
  }
  
  .feature h2 {
    margin: 15px 0;
  }
  
  .feature p {
    color: #555;
  }
  
  .feature a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .feature a:hover {
    background-color: #555;
  }
  
  /* Style the FAQ section */
  .faq-section {
    margin-top: 50px;
  }
  
  .faq {
    margin-bottom: 20px;
  }
  
  .faq h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .faq p {
    color: #555;
  }
  
  /* ... (footer styles) ... */
  